<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{- /* Title */ -}}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

{{- /* Meta description */ -}}
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if .Summary }}
<meta name="description" content="{{ .Summary | plainify | truncate 160 }}">
{{ else if .Site.Params.description }}
<meta name="description" content="{{ .Site.Params.description }}">
{{ end }}

{{- /* Author */ -}}
{{ with .Site.Params.author -}}
<meta name="author" content="{{ . }}">
{{- end }}

{{- /* Canonical URL */ -}}
<link rel="canonical" href="{{ .Permalink }}">

{{- /* RSS */ -}}
{{ range .AlternativeOutputFormats -}}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{- /* Favicon */ -}}
<link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">

{{- /* Open Graph / Twitter */ -}}
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .Summary }}{{ .Summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.images }}
<meta property="og:image" content="{{ index .Params.images 0 | absURL }}">
{{ else if .Site.Params.images }}
<meta property="og:image" content="{{ index .Site.Params.images 0 | absURL }}">
{{ end }}
<meta name="twitter:card" content="summary_large_image">

{{- /* CSS - Combined and minified */ -}}
{{- $themes := resources.Get "css/themes.css" -}}
{{- $main := resources.Get "css/main.css" -}}
{{- $menuBar := resources.Get "css/menu-bar.css" -}}
{{- $windows := resources.Get "css/windows.css" -}}
{{- $modeline := resources.Get "css/modeline.css" -}}
{{- $echoArea := resources.Get "css/echo-area.css" -}}
{{- $syntax := resources.Get "css/syntax.css" -}}
{{- $mobile := resources.Get "css/mobile.css" -}}

{{- $allCSS := slice $themes $main $menuBar $windows $modeline $echoArea $syntax $mobile | resources.Concat "css/bundle.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $allCSS.RelPermalink }}" integrity="{{ $allCSS.Data.Integrity }}">

{{- /* Google Fonts - Noto Sans SC for Chinese */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap" rel="stylesheet">

{{- /* Katex for math rendering */ -}}
{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js" integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
    onload="renderMathInElement(document.body, { delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}] });"></script>
{{ end }}

{{- /* Preload fonts */ -}}
<link rel="preload" href="/fonts/FiraCode-Regular.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="/fonts/FiraCode-Bold.woff" as="font" type="font/woff" crossorigin>

{{- /* Theme script - run early to prevent flash */ -}}
<script>
  (function() {
    const savedTheme = localStorage.getItem('emacs-theme');
    if (savedTheme) {
      document.documentElement.setAttribute('data-theme', savedTheme);
    } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: light)').matches) {
      document.documentElement.setAttribute('data-theme', 'light');
    }
  })();
</script>

{{- /* Google Analytics */ -}}
{{ if hugo.IsProduction -}}
{{ template "_internal/google_analytics.html" . }}
{{- end }}
